@media screen and (min-width: 769px) and (max-width: 1024px) {

    h2 {
        font-size: 22px;
        text-transform: uppercase;
    }
    
    .container {
        width: 100%;
        height: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    /*шапка (лого, контакты, навигация)*/

    .header {
        max-height: 60px;
    }

    .header-items,
    .header-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
    .company_name {
        font-size: 20px;
        font-weight: 400;
    }
    
    .navbar-items {
        width: 93%;
        margin: 0;
        /* flex-wrap: wrap; */
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
    }
    
    .navbar-items > li {
        list-style-type: none;
    }
    
    .navbar-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-right: 0;
        padding: 22px 30px 23px;
        font-size: 13px;
    }

    .dropdown-menu {
        padding: 10px 15px 10px 30px;
    }

    .callback_me {
        width: 120px;
        height: 30px;
        font-size: 11px;
    }
    
    /*main-block*/
    
    .main {
        position: relative;
        min-height: 100vh;
        height: 100vh;
        background: url('/assets/img/stock_header.jpg') 100% 100%/100% 100%;
    }

    .main-items {
        width: 100%;
        top: auto;
        bottom: 10%;
        margin-left: -30px;
    }

    .main-title_cwms {
        font-size: 120px;
    }

    .main-title_3000 {
        font-size: 52px;
    }

    .main-subtitle {
        font-size: 15px;
    }

    /* implementation-block */
    
    .implementation {
        position: relative;
        min-height: 660px;
        padding: 3% 0;
    }
    
    .implementation > h2 {
        width: 100%;
        padding: 0 15px;
    }
    
    .implementation > p {
        width: 50%;
        font-size: 20px;
        font-weight: 700;
    }
    
    .implementation__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    .implementation__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 20px 0 30px 0;
        border-top: 1px solid black;
    }
    
    .implementation__item-title {
        width: 24%;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 700;
    }

    .implementation h3 {
        margin: 0 auto;
        font-size: 20px;
    }
    
    .implementation__item-title > p {
        width: 95%;
        font-size: 14px;
    }
    
    .implementation__item-img-mobile {
        display: none;
    }
    
    .implementation__item-img {
        width: 32%;
    }
    
    .implementation__item-img > img {
        max-width: 100%;
    }
    
    .implementation__item-text {
        width: 44%;
        padding-left: 25px;
        font-size: 12px;
        line-height: 20px;
    }
    
    .implementation__item-text > ul {
        margin: 0;
    }
    
    .implementation__arrow {
        display: none;
    }
    
    /*cwms-components-block*/
    
    .components-items-wrapper {
        margin: 10px auto 0;
    }

    .cwms-components {
        position: relative;
        min-height: 720px;
    }
    
    .cwms-components h2 {
        width: 100%;
        padding: 0 15px;
    }
    
    .components-item {
        width: 250px;
        height: 250px;
        margin: 0 15px;
    }
    
    .components-main-title {
        font-size: 60px;
    } 
    
    .components-title_3000 {
        font-size: 20px;
    }
    
    .components-item .card-title {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .components-item p {
        color:black;
        height: 100%;
        margin: 0;
        margin: 8px 0;
    }

    /*active cards*/
    
    .front {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color:rgba(251, 250, 248, 1);
        -webkit-transform: perspective(600px) rotateY(0deg);
                transform: perspective(600px) rotateY(0deg);
    }
    
    .back {
        padding: 10px 10px 10px 15px;
        background-color: rgba(36, 31, 31, 1);
        -webkit-transform: perspective(600px) rotateY(180deg);
                transform: perspective(600px) rotateY(180deg);
    }

    .back .card-subtitle {
        margin: 5px 0 0 -10%;
        padding: 0 0 5px 20px;
        font-size: 14px;
    }

    .back > .card-text {
        font-size: 12px;
        line-height: calc(13px + 6 * (100vw / 1024));
        padding: 0 2% 2% 0;
    }
    
    /*products_and_services-block*/
    
    .products_and_services {
        min-height: 620px;
    }
    
    .products_and_services .container {
        height: 580px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        padding: 55px 15px;
    }
    
    .products__text-block {
        width: 65%;
    }
    
    .products__text-block_text {
        padding-right: 15px;
        font-size: 13px;
    }
    
    .products__text-block_text span {
        font-weight: 700;
    }
    
    .products__button-block {
        width: 35%;
        height: 430px;
    }
    
    .products__part div {
        width: 100%;
        height: 16%;
        font-size: 15px;
    }
    
    /*carusel*/ 

    .carusel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    /*our_contacts-block*/
    
    .contscts__block-text {
        font-size: 14px;
    }
    
    /*footer-block*/
    
    .copyright {
        font-size: 14px;
    }
}

@media screen and (min-width: 769px) and (max-width: 870px) {

    .company_name {
        display: none;
    }
/* 
    .navbar-item {
        padding: 11px 5px 13px;
    } */

    .carusel {
        display: none;
    }

    .map {
        display: none;
    }
}


@media screen and (min-width: 871px) and (max-width: 1023px) {

    .implementation__item-title {
        width: 20%;
    }

    .implementation__item-img {
        width: 36%;
    }

    .implementation__item-text {
        width: 44%;
        padding-left: 25px;
        font-size: 14px;
        line-height: 26px;
    }

}